@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="text-center">
        <h1 id="fav-song">My Favourite Song</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l5i3tX6V7M0?si=AOJAgSzO61S1a23P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <script src="script.js"></script>
</body>
</html>
