* {
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

form {
    border: 2px solid black;
    border-radius: 6px;
    width: 240px;
    height: 290px;
    box-sizing: border-box;
    background-color: floralwhite;
    padding: 10px;
}


label {
    display: block;
    padding: 4px;
}

input[type=text], [type=number] {
    background-color: ##FFFAFA;
    border: 2px solid black;
    border-radius: 3px;
}

input[type=submit] {
    background-color: DarkSlateGray;
    border: none;
    color: FloralWhite;
    padding: 8px 16px;
    margin: 2px 1px;
    cursor: pointer;
}

