#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px; 
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    background-color: #ffdf00;
    color: #353935;
}

body {
    background-color: #353935;
    color: #faebd7;
}

h1 {
    font-family: Arial;
    color: #faebd7;
}

h3 {
    font-family: Arial;
    color: #faebd7;
}

div {
    font-family: arial;
    color: #faebd7;
}